<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JUNFLIXTV</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>JUNFLIXTV</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/category/movie">Movies</a>
      <a href="/category/tv">TV Shows</a>
      <a href="/category/anime">Anime</a>
      <a href="/category/pinoy">Pinoy Movies</a>
      <a href="/category/kdrama">Korean Dramas</a>
    </nav>
  </header>
  <main>
